{# FILTER BTN #}
<button id="show-filters" class="group bg-gray-200 border border-gray-200 p-1 rounded w-8 h-8 hover:bg-blue-500 hover:text-white text-gray-400 hover:border-blue-500 hover:shadow transition">
	<i class="fas fa-glasses"></i>
</button>

{# FILTERS #}
<div id="calendar-filter" class="group-hover:block absolute w-[250px] z-10 top-12 right-2 bg-white rounded border border-gray-200 w-fit px-4 py-2 border-b border-gray-200 flex flex-col gap-1">
	<div class="flex gap-2 items-center">
		<input type="checkbox" data-filter="event" name="" id="calendar-show-convoc" class="" checked>
		<h3 class="text-sm font-medium text-slate-600">Informations cave</h3>
	</div>

	<div class="flex gap-2 items-center">
		<input type="checkbox" name="" id="calendar-filter-convoc" data-filter="convoc" class="" checked>
		<h3 class="text-sm font-medium text-slate-600">Convocations</h3>
	</div>

	<div class="flex flex-col gap-1 ml-3">
		<div class="flex gap-2 items-center">
			<input type="checkbox" data-filter="convoc-pending" name="" id="calendar-filter-convoc-pending" class="" checked>
			<label for="" class="text-sm">En attente de réponse</label>
		</div>

		<div class="flex gap-2 items-center">
			<input type="checkbox" data-filter="convoc-accepted" name="" id="calendar-filter-convoc-accepted" class="" checked>
			<label for="" class="text-sm">Validées</label>
		</div>

		<div class="flex gap-2 items-center">
			<input type="checkbox" data-filter="convoc-changed" name="" id="calendar-filter-convoc-changed" class="" checked>
			<label for="" class="text-sm">Modification en attente</label>
		</div>

		<div class="flex gap-2 items-center">
			<input type="checkbox" data-filter="convoc-rejected" name="" id="calendar-filter-convoc-refused" class="" checked>
			<label for="" class="text-sm">Refusées</label>
		</div>

		<div class="flex gap-2 items-center">
			<input type="checkbox" data-filter="convoc-delivered" name="" id="calendar-filter-convoc-delivered" class="" checked>
			<label for="" class="text-sm">Livrées</label>
		</div>
	</div>
</div>
