{% extends "@Calendar/root.html.twig" %}

{% block calendarContent %}

	<div class=" p-4 mx-auto w-[1400px]">

		<div class="calendar-bundle-navbar">
			{% include "@Calendar/components/navbar/navbar.html.twig" with calendar %}
		</div>

		<div class="grid md:grid-cols-4 lg:grid-cols-7">

			{% for jour in calendar.weekDays %}
				<div class="text-sm font-medium p-2 text-slate-700 text-center">
					{{jour}}
				</div>
			{% endfor %}

			{% for day in calendar.calendar %}
				{% include "@Calendar/components/day.html.twig" with day %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
