<style>
	.calendar-mini {
		margin: 0 auto;
		width: fit-content;
	}

	.calendar-mini .container {
		display: grid;
		grid-template-columns: repeat(7, 3rem);
	}

	.calendar-weekday {
		font-size: 0.75em;
		text-align: center;
		padding: 0.5em;
	}
</style>

<div class="calendar-mini">
	<div class="navbar">
		{% include "@Calendar/components/navbar/navbar-mini.html.twig" with calendar %}
	</div>

	<div class="container">
		{% for jour in calendar.weekDays %}
			<div class="calendar-weekday">
				{{jour|slice(0, 1)}}
			</div>
		{% endfor %}

		{% for day in calendar.calendar %}
			{% include "@Calendar/components/day-mini.html.twig" with day %}
		{% endfor %}
	</div>
</div>
