{% extends "@Calendar/views/grid.html.twig" %}

<style>
	.calendar-full {
		padding: 0.85em;
		margin: auto;
		max-width: 1400px;
	}
	.calendar-grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}
	.calendar-weekday {
		font-size: 0.85em;
		text-align: center;
		padding: 0.85em;
	}
</style>

<div class="calendar-full">
	<div class="calendar-bundle-navbar">
		{% include "@Calendar/components/navbar/navbar.html.twig" with calendar %}
	</div>

	<div class="calendar-grid">
		{% for jour in calendar.weekDays %}
			<div class="calendar-weekday">
				{{jour}}
			</div>
		{% endfor %}

		{% for day in calendar.calendar %}
			{% include templates.day with day %}
		{% endfor %}

	</div>
</div></div>
