{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_javascript %}
	{{parent()}}
	{{encore_entry_script_tags('admin_calendar_monthly')}}
{% endblock %}

{% block content_title %}
	<h1 class="title">Calendrier</h1>
{% endblock %}

{% block page_actions %}
	{# Page actions #}
{% endblock %}

{% block main %}

	{% include "admin/calendar/monthly.html.twig" %}

{% endblock %}
